<div class="columns is-multiline">
    <div class="column is-12">
        <h1 class="title has-text-primary"><i class="fas fa-edit    "></i> Formulário para envio de proposta</h1>
    </div>

    <div class="column is-12">
        <%= render partial: 'employees_backoffice/proposals/shared/form', locals: {button_title: 'Enviar'} %>
    </div>
</div>